<launch>

  <node pkg="rosbag" type="play" name="player" args="--pause -r 1.0 -s 0 -u 5. /home/yunfan/work_spaces/EventVision/exe7/src/dvs_mosaic/data/synth1/events.bag" />


  <node name="mosaic" pkg="dvs_mosaic" type="dvs_mosaic" output="screen" args="--v 0">
    <!-- args= v is Printing level. The higher, the more details are printed -->

    <!-- Input / Output -->
    <!-- Which topic to listen? Map topic name of input events -->
    <remap from="events" to="/dvs/events" />
  </node>

  <node name = "image_display" pkg = "rqt_gui" type = "rqt_gui" respawn = "false" output = "screen"
    args = "--perspective-file $(find dvs_mosaic)/launch/mosaic_view.perspective"/>

</launch>
