<launch>

  <node pkg="rosbag" type="play" name="player" args="--pause -r 0.1 -s 0 -u 5. /home/yunfan/work_spaces/EventVision/exe7/src/dvs_mosaic/data/synth1/events.bag" />


  <node name="mosaic" pkg="dvs_mosaic" type="dvs_mosaic" output="screen" args="--v 1">
    <param name="num_events_update_" value="1000"/>
    <param name="num_packet_reconstrct_mosaic_" value="100"/>
    <param name="mosaic_height_" value="512"/>
    <param name="var_process_noise_" value="1e-4"/>
    <param name="var_R_tracking_" value="0.17 * 0.17"/>
    <param name="var_R_mapping_" value="1e4"/>
    <param name="init_packet_num_" value="300"/>
    <param name="gaussian_blur_sigma_" value="2"/>
    <param name="tracking_area_percent_" value="0.75"/>
    <param name="grad_thres_" value="1.0"/>








    <!-- args= v is Printing level. The higher, the more details are printed -->

    <!-- Input / Output -->
    <!-- Which topic to listen? Map topic name of input events -->
    <remap from="events" to="/dvs/events" />
  </node>

  <node name = "image_display" pkg = "rqt_gui" type = "rqt_gui" respawn = "false" output = "screen"
    args = "--perspective-file $(find dvs_mosaic)/launch/mosaic_view.perspective"/>

</launch>
